<footer class="container-fluid">
	<div class="row">
		<section class="col text-center text-dark">
			Première colonne
		</section>
		<section class="col text-center text-dark">
			Deuxième colonne
		</section>
		<section class="col text-center text-dark">
			Troisième colonne
		</section>
	</div>
</footer>
