<footer class="container-fluid">
	<div class="row">
		<section class="col text-center text-dark">
			<p>Première colonne</p>
		</section>
		<section class="col text-center text-dark">
			<p>Deuxième colonne</p>
		</section>
		<section class="col text-center text-dark">
			<p>Troisième colonne</p>
		</section>
	</div>
</footer>
