{% extends 'base.html.twig' %}

{% block title %}New GiteEqpExt{% endblock %}

{% block body %}
    <h1>Create new GiteEqpExt</h1>

    {{ include('gite_eqp_ext/_form.html.twig') }}

    <a href="{{ path('app_gite_eqp_ext_index') }}">back to list</a>
{% endblock %}
