{% extends 'base.html.twig' %}

{% block title %}Edit GiteEqpInt{% endblock %}

{% block body %}
    <h1>Edit GiteEqpInt</h1>

    {{ include('gite_eqp_int/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gite_eqp_int_index') }}">back to list</a>

    {{ include('gite_eqp_int/_delete_form.html.twig') }}
{% endblock %}
