{% extends 'base.html.twig' %}

{% block title %}GiteEqpInt index{% endblock %}

{% block body %}
    <h1>GiteEqpInt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gite_eqp_int in gite_eqp_ints %}
            <tr>
                <td>{{ gite_eqp_int.id }}</td>
                <td>
                    <a href="{{ path('app_gite_eqp_int_show', {'id': gite_eqp_int.id}) }}">show</a>
                    <a href="{{ path('app_gite_eqp_int_edit', {'id': gite_eqp_int.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gite_eqp_int_new') }}">Create new</a>
{% endblock %}
