{% extends 'base.html.twig' %}

{% block title %}New GiteEqpInt{% endblock %}

{% block body %}
    <h1>Create new GiteEqpInt</h1>

    {{ include('gite_eqp_int/_form.html.twig') }}

    <a href="{{ path('app_gite_eqp_int_index') }}">back to list</a>
{% endblock %}
